annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
astroid==2.4.2
autopep8==2.0.4
beautifulsoup4==4.12.2
black==24.2.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.6
colorama==0.4.6
contourpy==1.0.7
cryptography==41.0.1
cycler==0.11.0
defusedxml==0.7.1
Django==5.0
django-admin-datta==1.0.10
django-allauth==0.51.0
django-api-generator==1.0.17
django-debug-toolbar==4.2.0
django-dynamic-datatb==1.0.25
django-filter==24.2
django-sslserver==0.22
django-theme-material-kit==1.0.18
djangorestframework==3.14.0
Faker==24.4.0
fastapi==0.100.1
flake8==7.0.0
Flask==3.0.0
fonttools==4.39.4
google==3.0.0
google-api-core==2.15.0
google-api-python-client==2.112.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
gunicorn==21.2.0
h11==0.14.0
httplib2==0.22.0
httptools==0.6.0
idna==3.4
install==1.3.5
isort==4.3.21
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
mccabe==0.7.0
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
ngrok==0.12.1
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.1
pandas==2.1.4
pathspec==0.12.1
Pillow==9.5.0
platformdirs==4.2.0
protobuf==4.21.12
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
pyflakes==3.2.0
PyJWT==2.7.0
pylint==2.5.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-social-auth==0.2.12
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
starlette==0.27.0
tabulate==0.9.0
tk==0.1.0
toml==0.10.1
typing==3.7.4.3
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
uvicorn==0.23.1
validate-docbr==1.10.0
watchfiles==0.19.0
websockets==11.0.3
Werkzeug==3.0.1
whitenoise==6.6.0
wrapt==1.12.1
